body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(130, 102, 82);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.dark {
    background-color: rgb(89, 53, 53);
}

.light {
    background-color: white;
}